.cart-icon {
  margin: 5px;
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
 
  transition: all 0.1s;

  &:hover{
    filter: brightness(900);

    transform: scale(1.5);
  }

  .shopping-icon {
    padding: 10px;
    width: 30px;
    height: 30px;
    transition: all 0.3s;

  
    
  }

  & > span {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    bottom: 12px;
    user-select: none;
  }
}
