.header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  
  .logo-container {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    //background: white;
    margin-left: 10px;
    

    .logo{
      position: relative;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }

  .options {
    padding: 5px 10px;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    background: #2FF3E0;
    border-radius: 10px;

    .cart-icon:hover{
      border-radius: 10px;
      background-color: #F8D210;
    }
    .option {
      padding: 10px 15px;
      transition: all 0.5s;
      font-weight: 600;

      &:hover{
        background-color: #F8D210;
        border-radius: 10px;
      }
    }
  }
}
