.product {
    position: relative;
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    background: rgb(70, 163, 110);
    margin-bottom: 10px;
    color: white;
    transition: all 0.3s;


    .product-image {

        width: 30%;
        margin-right: 20px;

        .image {
            height: 100px;
            width: 100px;
        }

    }

    .product-details {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        padding: 5px;
        //justify-content: space-evenly;
        //margin-right: 20px;

        .product-name {
            text-transform: capitalize;
            width: 40%;
            font-weight: 400;
            font-size: 20px;
        }

        .product-price {
            width: 20%;
            font-size: 20px;
        }

        .product-quantity {

            display: flex;
            align-items: center;
            //justify-content: space-evenly;

            .btn {
                position: relative;
                width: 25px;
                height: 25px;
                border: none;
                border-radius: 50%;
                background-color: rgb(255, 255, 255);
                cursor: pointer;
                font-weight: 600;
                display: grid;
                place-items: center;
                transition: all 0.3s;

                .btn-dec,
                .btn-inc {
                    box-sizing: border-box;
                    position: absolute;
                    left: 50%;
                    top: 50%;

                    width: 10px;
                    height: 2px;

                    background-color: black;
                    transform: translate(-50%, -50%);

                }




                .btn-inc::before {
                    content: "";
                    box-sizing: border-box;
                    position: absolute;
                    left: 50%;
                    top: 50%;

                    width: 10px;
                    height: 2px;

                    background-color: black;
                    transform: translate(-50%, -50%) rotateZ(90deg);



                }

                &:hover {
                    transform: scale(1.25);
                }
            }

            .btn-d:hover {
                background-color: red;

                &>.btn-dec {

                    background-color: white;

                    &::before {
                        background-color: white;
                    }
                }
            }

            .btn-i:hover {
                background-color: rgb(0, 255, 21);

                &>.btn-inc {
                    background-color: white;

                    &::before {
                        background-color: white;
                    }

                }
            }

            .quantity {
                margin: 0 10px;

            }
        }


    }

    &>.product-remove {
        display: none;
    }

    .product-remove {
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
        padding: 2px;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: white;
        transition: all 0.3s;

        &:hover {
            transform: scale(1.25);
            background-color: red;

            &>div {
                background-color: white;

                &::after {
                    background-color: white;
                }
            }
        }

        .close {
            position: absolute;
            left: 50%;
            top: 50%;

            width: 12px;
            height: 2px;

            background-color: black;
            transform: translate(-50%, -50%) rotateZ(45deg);

            &::after {
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;

                width: 12px;
                height: 2px;

                background-color: black;
                transform: translate(-50%, -50%) rotateZ(90deg);
            }
        }

    }

    &:hover {
        transform: scale(1.02);
        background: rgb(61, 129, 207);
        border: 2px solid rgb(62, 105, 184);
        color: rgb(255, 255, 255);

        &>.product-remove {
            display: block;
        }
    }
}