.product {
    position: relative;
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    background: rgb(167, 248, 208);
    //border: 2px solid rgb(228, 228, 228);
    margin-bottom: 10px;
    transition: all 0.3s;


    .product-image {

        width: 30%;
        margin-right: 20px;

        .image {
            height: 100px;
            width: 100px;
        }

    }

    .product-details {
        width: 100%;
        //margin-right: 20px;
        display: flex;
        flex-direction: row;
        //justify-content: space-evenly;
        align-items: baseline;
        padding: 5px;

        .product-name {
            text-transform: capitalize;
            width: 40%;
            font-weight: 400;
            font-size: 20px;
        }

        .product-price {
            width: 20%;
            font-size: 20px;
        }

        .product-quantity {

            display: flex;
            //justify-content: space-evenly;
            align-items: center;

            .btn {
                position: relative;
                width: 25px;
                height: 25px;
                border: none;
                border-radius: 50%;
                background-color: rgb(255, 255, 255);
                cursor: pointer;
                font-weight: 600;
                display: grid;
                place-items: center;
                transition: all 0.3s;

                .btn-dec,
                .btn-inc {
                   box-sizing: border-box;
                    position: absolute;
                    left: 50%;
                    top: 50%;

                    width: 10px;
                    height: 2px;

                    background-color: black;
                    transform: translate(-50%, -50%);

                }

                
                .btn-inc::before{
                    content: "";
                    box-sizing: border-box;
                    position: absolute;
                    left: 50%;
                    top: 50%;

                    width: 10px;
                    height: 2px;

                    background-color: black;
                    transform: translate(-50%, -50%) rotateZ(90deg);



                }
            }

            .btn:hover {
                transform: scale(1.15);
            }

            .quantity {
                margin: 0 10px;

            }
        }


    }

    .product-remove {
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
        padding: 2px;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: white;
        transition: all 0.3s;

        &:hover {
            transform: scale(1.23);
        }

        .close {
            position: absolute;
            left: 50%;
            top: 50%;

            width: 12px;
            height: 2px;

            background-color: black;
            transform: translate(-50%, -50%) rotateZ(45deg);

            &::after {
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;

                width: 12px;
                height: 2px;

                background-color: black;
                transform: translate(-50%, -50%) rotateZ(90deg);
            }
        }

    }

    &:hover {
        transform: scale(1.02);
        background: rgb(202, 255, 248);
        border: 2px solid rgb(63, 226, 226);

    }
}