.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  //  letter-spacing: 0.5px;
  // line-height: 50px;
  padding: 0 35px;
  margin: 0 5px;
  font-size: 15px;
  background: rgb(14, 12, 105);
  background-size: 100%;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  // border-bottom: 2px solid rgb(241, 53, 53);
  cursor: pointer;
  // clip-path: polygon(29px 0, 100% 0, calc(100% - 29px) 100%, 0 100%);
  transition: all 0.5s;

  &:hover {
    background: rgb(98, 58, 163);
    transform: translateY(-5px);
    box-shadow: 2px 2px gray;
    //border-bottom: 2px solid rgb(66, 63, 245);
  }
}

.signinwithgoogle {
  background: rgb(210, 54, 54);
}

.addtocartbutton {
  background: rgb(95, 186, 140);
  padding: 0 25px;
  margin: 0;
  height: 40px;
}
